<h2>Insert new Purchase Instance</h2>

<%= form_for @purchase, :html => {:multipart => true} do |f| %>

	<div class="form-group">
		<%= f.label(:file, "Import File") %><br>
		<%= f.file_field :file, :class => 'form-control-file' %>
	</div>

	<%= f.submit "Submit"%>
<% end %>

<%= link_to "Back", purchases_path %>
